# We need to set these items
MACHINE ??= "g2c1"
DISTRO ?= "reach"
PACKAGE_CLASSES ?= "package_rpm"
EXTRA_IMAGE_FEATURES = "debug-tweaks"
USER_CLASSES ?= "buildstats image-mklibs image-prelink"
PATCHRESOLVE = "noop"
CONF_VERSION = "1"

# These are optional based on host computer
BB_NUMBER_THREADS = "4"
PARALLEL_MAKE = "-j 4"

# These can be share on a per developer workstation like /opt
DL_DIR ?= "/opt/yocto/downloads"
#SSTATE_DIR ?= "/opt/yocto/sstate"

# Possibly make these available for download and sstate
#SSTATE_MIRRORS ?= "\
#file://.* http://someserver.tld/share/sstate/PATH \n \
#file://.* file:///some/local/dir/sstate/PATH"
#INHERIT += "own-mirrors"
#SOURCE_MIRROR_URL = "http://feeds.reach.com/feeds/yocto/oe-source-cache"

#SDKMACHINE ?= "i686"
